:root {
  --icon-size: 25px;
  --win-filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  --disabled-filter: invert(84%) sepia(5%) saturate(10%) hue-rotate(344deg) brightness(93%) contrast(89%);
  --common: grey;
  --uncommon: green;
  --epic: rgb(225, 71, 225);
  --legendary: gold;
  --scales-width: ;
}
* {
  /* cursor: url("https://developer.mozilla.org/en-US/docs/Web/CSS/cursor/grab.gif"), auto; */
}
main {
  display: block;
  justify-items: center;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 50;
}
.summary {
  width: 90%;
  left: 5%;
  position: relative;
}
.categories {
  overflow: hidden;
  margin-top: 10px;
}
.category {
  width: 200px;
  max-width: 200px;
  /* margin-left: 10px; */
  padding: 10px;
  /* font-size: 30px; */
  text-align: center;
}
.category > * {
  padding: 10px;
}
.interest {
  text-decoration: underline;
  cursor: pointer;
}
.grid {
  border: 1px black solid;
  flex-wrap: wrap;
  flex-direction: row;
  display: inline-flex;
  justify-content: center;
  /* width: 100%; */
  /* grid-template-columns: auto auto; */
  /* grid-template-areas: "header header"; */
  align-items: start;
}
.flexi {
  /* flex:1 0 auto; */
  /* width:100%; */
}
.fullW {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  /* min-width: ; */
  /* min-width: 90vw; */
  /* width: 90%; */
}
.grid-header {
  flex: 1 0 100%;
}

.outer-category {
  /* grid-template-areas: "head head"; */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  width: 100%;
  pointer-events: none;
}

.icon {
  display: inline-block;
  min-width: var(--icon-size);
  width: var(--icon-size);
  margin: 0;
}
.fail {
}
.fails[data-size="normal"] {
  --icon-size: 25px;
}
.fails[data-size="small"] * {
  --icon-size: 10px;
}
.fails[data-size="xsmall"] * {
  --icon-size: 1px;
}
.rarity {
  display: inline-block;
  margin-left: 10px !important;
}
.oneline {
  display: inline-block;
}

.win {
  filter: var(--win-filter);
}
.failContainer {
  display: inline-block;
}

.common {
  color: var(--common);
}
.uncommon {
  color: var(--uncommon);
}
.epic {
  color: var(--epic);
}
.legendary {
  color: var(--legendary);
}

.grayout {
  filter: var(--disabled-filter);
  pointer-events: none;
}
.fails {
  width: fit-content;
  margin: 20px;
  /* border:2px black solid; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.inline {
  display: inline-block;
}
.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  /* overflow: hidden; */
  /* float: left; */
  /* clear: left; */
  /* display: inline; */
  font-size: calc(20px + 2vmin);
  width: 100%;
}
.form > * {
  margin-top: 10px !important;
  display: inline-block;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
